@font-face {
    font-family: "DeathMetalFont";
    src: url('./fonts/ArtDystopia.ttf') format('truetype');
}

@font-face {
    font-family: "FontAudio";
    src: url('./fonts/fontaudio.ttf') format('truetype');
}


.death-metal-button {
    font-family: "FontAudio", sans-serif;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 80%);
    font-size: 1em;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 1em 0.75em 0.75em 0.75em;
    transition: border-color 0.25s;
}

.death-metal-button:hover {
    border-color: white
}

.death-metal-button:active {
    border-color: hsl(0, 0%, 20%);
    opacity: 1;
}

.death-metal-button.bypassed {
    opacity: 0.3;
}